body {
    background-color: turquoise;
    font-size: 125%;
    margin-left: auto;
    margin-right: auto;
}
button {
    font-size: 125%;
    background-color:  black;
    text-align: center;
    color: white;
    border-style: double;
    font-style: oblique;
    font-family: monospace;
}
table {
    border-width: thick;
    border-style: double;
    border-color: black;
    background-color: cornsilk;

    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: 3;
  }
ul {
   background-color: azure;
   border: thick double black;
   width: fit-content;
   border-radius: 10px;
   padding-right: 1%;
}